body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    border: #333;
  }

  image{
    width: 100%;
    height: 100%;
  }
  
  
  body {
    background-color: hsla(0, 0%, 42%, 0.326);
    margin-top: 10%;
    border:10%;
  }
  
  h1 {
    position: absolute;
    top: 18%;
    left: 1;
  }
  
  body img {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
  }

  .page-wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10%;
  }

  .intro {
    margin-bottom: 10%;
  }

  .extra1,
  .extra2,
  .extra3,
  .extra4,
  .extra5,
  .extra6 {
    width: 15%;
    height: 15%;
    background-color: #3498db;
    margin-bottom: 10%;
    flex-wrap: wrap;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15%;
  }
  
  .sidebar {
    width: 15%;
    float: right;
    margin-top: 10%;
  }
  
  .design-selection ul {
    list-style: none;
    padding: 0;
  }
  
  .design-selection li {
    margin-bottom: 10%;
  }
  
  .design-selection a {
    text-decoration: none;
    color: #333;
  }

  body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    background-image: url('https://wallpapers.com/images/high/valorant-player-roles-305kescxw5dpup7y.webp');
    background-size: cover;
    z-index: -1;
}


body::after {
    right: 0;
    left: auto;
    background-image: url('');
}
